<app-navbar></app-navbar>
<div class="container1">
        <h1 class="he1">TRANSPORT THE WAYS YOU’VE<br> ALWAYS WANTED</h1>
        <h5 class="he2">We make transporting big stuff easy and affordable by connecting people and businesses with discounted extra truck space</h5>
        <button class="button1"><a [routerLink]="['/newdel']" style="text-decoration: none;color: white">List My Delivery</a></button>
        <button class="button2" data-toggle="modal" data-target="#exampleModalCenter">Watch Video</button>
    </div>	
<div class="modal fade" id="exampleModalCenter">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-body" >
    <video width="465px" height="370px" controls>
        <source src="../../assets/cu.mp4" type="video/mp4">
    </video>
  </div>
</div>
</div>
</div>