<app-navbar></app-navbar>
<div id="body1">
<H1 style="font-family: Arial, Helvetica, sans-serif;letter-spacing: .3vw; margin-left: 4%;margin-top: 2%;">NEW DELIVERY<hr></H1>
	<div class="container1">
		<div class="item" (click)="item('VEHICAL & BOATS')">
			<div class="img"><img src="../../assets/car.png"/></div>
			<div class="text">VEHICAL & BOATS</div>
		</div>
		<div class="item" (click)="item('HOUSEHOLD ITEM')">
			<img src="../../assets/wash.png"/>
			<div class="text">HOUSEHOLD ITEM</div>
		</div>
		<div class="item" (click)="item('MOVES')">
			<img src="../../assets/moves.png"/>
			<div class="text">MOVES</div>
		</div>
		<div class="item" (click)="item('HEAVY EQUIPMENT')">
			<img src="../../assets/heavy.png"/>
			<div class="text">HEAVY EQUIPMENT</div>
		</div>
    </div>
    
	<div class="container2">
		<div class="item" (click)="item('FREIGHT')">
			<img src="../../assets/freight.png"/>
			<div class="text">FREIGHT</div>
		</div>
		<div class="item" (click)="item('ANIMALS')">
			<img src="../../assets/animal.png"/>
			<div class="text">ANIMALS</div>
		</div>
		<div class="item" (click)="item('OTHER')">
			<img src="../../assets/other.png"/>
			<div class="text">OTHER</div>
		</div>
		<div class="item">
		</div>
	</div>
</div>