.button{
    display: block;
    margin:3vw auto;
    padding: 11px 30px;
    background-color: #4CAF50;
      color: white; 
      border-radius: 4px;
      border: 2px solid #4CAF50;
}
.button:hover {
    background-color:white;
    color:black;
}