<app-navbar></app-navbar>
<div class="jum">
    
	<div class="row container-fluid" >
		<div class="col-lg-12 col-md-12 col-12">
			<h1 id="hed1">CUSTOMERS, <br>MEET TRANSPORTERS.</h1>
		 	<h1  id="hed1" class="he1">TRANSPORTERS,<br> MEET CUSTOMERS.</h1> 
			<h2 id="hed2"><b>We make moving big stuff cheap and easy by helping <br>customers directly connect with transporters who have <br>extra lorry space.</b></h2>
	    	<button class="button1"><a [routerLink]="['/newdel']" style="text-decoration: none;color: white">Get Free Quotes</a></button>
		    <button class="button2"><a [routerLink]="['/Finddelivery']" style="text-decoration: none;color: black;">Become a Transporter</a></button>
		</div>
	</div> 


	 <div class="narrow container-fluid con2">
		<div class="col-lg-6 col-md-6 col-6">
			<img src="../../assets/cu2.jpg" style="width: 100%">
		</div>
		<div class="col-lg-6 col-md-6 col-6">
			<h5 style="margin-top: 5%;">TRANSPORTING WITH USHIP</h5>
			<h3>PICK YOUR PROVIDER AND PRICE</h3>
			<hr style="color: black">
			<h4>uShip’s transport marketplace gives you access to thousands of feedback-rated providers who compete for your business, so you can pick your price and transport with confidence.</h4>	<br>
			<br>
			<a [routerLink]="['/cuvideo']" style="text-decoration: none;font-size: 130%"><b>How it Works for Customers :)</b></a>
			<br><font color="green">-------------------------------------------------------</font>
		</div>
	</div>



	<div class="narrow container-fluid ">
		<div class="col-lg-6 col-md-6 col-6">
			<h5 style="margin-top: 10%;">HAULING WITH USHIP</h5>
			<h3>BE THE MASTER OF YOUR DOMAIN</h3>
			<hr style="color: black">
			<h4>With new deliveries posted every 30 seconds, there’s always money to be made on uShip. Find lucrative jobs throughout India using the latest tools, no matter what you haul.</h4>	<br>
			<br>	
			<a [routerLink]="['/trvideo']" style="text-decoration: none;font-size: 130%"><b>How it Works for Transportes :)</b></a>
			<br><font color="green">----------------------------------------------------------</font>
		</div>
		<div class="col-lg-6 col-md-6 col-6">
			<img src="../../assets/tr1.jpg" style="width: 100%">
		</div>
	</div> 
</div> 